extends layout

block content
  div.stats-container
    p.stat-item Average: #{average_length.toFixed(2)} characters
    p.stat-item Median: #{median_length.toFixed(2)} characters
    p.stat-item Maximum: #{max_length.toFixed(2)} characters
    p.stat-item Minimum: #{min_length.toFixed(2)} characters
    br
    p.stat-item Total length of all posts: #{total_length.toFixed(2)} characters

  div(style="margin-top: 20px")
    button(id="back" type="button", onclick="window.history.back()") Back
